
.footer{
  background-color: #ecedf1;
  height: auto ;
  width:100%;
  bottom:0;
  position:fixed;
}

.imageIcon {
  width: 15pt;
  height: 15pt;
}

.myTextArea{
  resize: none;
  border-color: rgb(104, 76, 165) ;
}
textarea:focus{ 
  outline: none;
  box-shadow:0.5px 0.5px 2px 2px  rgb(104, 76, 165);
  }


.Emoji-Submit{
  display: "none";
}

.getEmojiButton{
  Float: "right";
  border: "none";
  margin: 0;
  cursor: "pointer";
}

.micOn {
  width: 15pt;
  height: 20pt;
}

.micOff{
  width: 15pt;
  height: 20pt;
}

.sendIcon {
  width: 15pt;
  height: 15pt;
}