.footer {
  background-color: rgb(7, 19, 94);
  width: 100%;
  height: 10%;
}

.imageIcon {
  width: 30pt;
  height: 30pt;
  margin: 8pt;
}

.Emoji-Submit{
  display: "none";
}

.micOn {
  width: 30pt;
  height: 30pt;
  margin: 8pt;
}

.micOff{
  width: 30pt;
  height: 30pt;
  margin: 8pt;
}

.sendIcon {
  width: 30pt;
  height: 30pt;
  margin: 8pt;
}