.body {
  height: 400pt;
}

.messageTemplateContainer {
  margin: 5pt;
}

.imageMessageTemplateRight {
  width: 30pt;
  height: 30pt;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  float: right;
}
.imageMessageTemplateLeft {
  width: 30pt;
  height: 30pt;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  vertical-align: top;
}

.messageOrientationLeft {
  border-radius: 0px 18px 18px 18px;
  background: rgb(110, 72, 170);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
  max-width: 50%;
  padding: 12px;
  color: white;
  margin: 0px 5px 10px;
  text-align: left;
  word-wrap: break-word;
  display: inline-block;
}

.messageOrientationRight {
  border-radius: 18px 0px 18px 18px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
  max-width: 50%;
  padding: 12px;
  color: rgb(74, 74, 74);
  margin: 0px 5px 10px;
  text-align: left;
  float: right;
  word-wrap: break-word;
}
.fixingSizeOrientationRight {
  overflow: auto;
}
